body {
    position: relative;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    background: url('/img/home-page-bg.jpg') no-repeat center center/cover;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    animation: fadeInBackground 2s ease-in-out forwards;
}

@keyframes fadeInBackground {
    from { opacity: 0; }
    to { opacity: 1; }
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
    animation: fadeInOverlay 2s ease-in-out forwards;
}

@keyframes fadeInOverlay {
    from { background-color: rgba(0, 0, 0, 0); }
    to { background-color: rgba(0, 0, 0, 0.6); }
}

body * {
    position: relative;
    z-index: 2;
}

@keyframes slideDown {
    from { transform: translateY(-100px); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
}

.navbar {
    background-color: #fff;
    height: 80px;
    margin: 20px;
    border-radius: 16px;
    padding: 0.5rem;
}

.navbar-brand {
    font-weight: 500;
    color: #009970;
    font-size: 24px;
    transition: 0.3s color;
}

.login-button {
    background-color: #009970;
    color: #fff;
    font-size: 14px;
    padding: 8px 20px;
    border-radius: 50px;
    text-decoration: none;
    transition: 0.3s background-color;
}

.login-button:hover {
    background-color: #00b383;
}

.navbar-toggler {
    border: none;
    font-size: 1.25rem;
}

.navbar-toggler:focus, .btn-close:focus {
    box-shadow: none;
    outline: none;
}

.nav-link {
    color: #666777;
    font-weight: 500;
    position: relative;
    transition: color 0.3s;
}

.nav-link:hover, .nav-link:active {
    color: #000;
}

@media(min-width: 991px) {
    .nav-link::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 2px;
        background-color: #009970;
        visibility: hidden;
        transition: 0.3s ease-in-out;
    }

    .nav-link:hover::before, .nav-link.active::before  {
        width: 100%;
        visibility: visible;
    }
}

.heading {
    display: inline-block;
    text-align: center;
    opacity: 0;
    animation: fadeIn 1.5s 1.5s forwards;
}

.heading h1 {
    color: #44f2c3;
    border-right: 2px solid;
    font-size: 3.4rem;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 5s steps(18) infinite, cursor .4s step-end infinite alternate;
}

@keyframes typing {
    from { width: 0; }
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@media (max-width: 1200px) {
    .heading h1 {
        font-size: 2.6rem;
        margin: auto;
    }
}

@media (max-width: 992px) {
    .heading h1 {
        font-size: 2.2rem;
        margin: auto;
    }
}

@media (max-width: 768px) {
    .heading h1 {
        font-size: 1.8rem;
        margin: auto;
    }
}

@media (max-width: 576px) {
    .heading h1 {
        font-size: 1.4rem;
        margin: auto;
    }
}

@media (max-width: 480px) {
    .heading h1 {
        font-size: 1rem;
        margin: auto;
    }
}