<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <title>About me</title>
    <link rel="stylesheet" href="/css/about-me.css">
</head>
<body>

<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand me-auto" href="/">MyCampus</a>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel">MyCampus</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-center flex-grow-1 pe-3">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/about-me">About Me</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/features">Features</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact-me">Contact Me</a>
                    </li>
                </ul>
            </div>
        </div>
        <a href="/login" class="login-button">Login</a>
        <button class="navbar-toggler pe-0" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</nav>

<section class="about py-5">
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-5">

                <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="/img/photo-1.jpg" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="/img/photo-2.jpg" class="d-block w-100" alt="...">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
            <div class="col-lg-7 pt-3">
                <h1>About Me.</h1>
                <p>JAVA BACKEND DEVELOPER</p>
                <p class="py-3">Hello! I'm <span style="font-weight: bold">Vladislav Saliuk</span>, a passionate Java Backend Developer with 2 years of experience in designing and implementing scalable and robust backend solutions. I specialize in Java development, leveraging frameworks like Spring and Hibernate to build efficient and maintainable applications.</p>
                <div class="progress my-3">
                    <div class="pro-value1">
                        <p>Java Core <span class="text-white float-end">90%</span></p>
                    </div>
                </div>
                <div class="progress my-3">
                    <div class="pro-value2">
                        <p>Spring Web/Spring Boot <span class="text-white float-end">95%</span></p>
                    </div>
                </div>
                <div class="progress my-3">
                    <div class="pro-value3">
                        <p>HTML/CSS <span class="text-white float-end">70%</span></p>
                    </div>
                </div>
                <div class="progress my-3">
                    <div class="pro-value4">
                        <p>PostgreSQL/FlyWay<span class="text-white float-end">98%</span></p>
                    </div>
                </div>

                <input type="button" class="btn1 mt-5" value="Download C.V." onclick="downloadCV()">
                <input type="button" class="btn2 mt-5" value="Contact Me" data-bs-toggle="modal" data-bs-target="#contactModal">

            </div>
        </div>
    </div>
</section>

<script>

    function downloadCV() {
        const link = document.createElement('a');
        link.href = '/cv/Java Backend Developer.pdf';
        link.download = 'Java Backend Developer.pdf';
        document.body.appendChild(link);
        link.click();
        document.body.removeChild(link);
    }

</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>
