<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Admin Dashboard</title>
    <link href="/css/admin-dashboard-styles.css" rel="stylesheet">
</head>

<body>
<main class="table" id="customers_table">
    <section class="table__header">
        <h1>Users</h1>
        <div class="input-group">
            <input type="search" placeholder="Search Data...">
            <img src="/img/search.png" alt="">
        </div>
    </section>
    <section class="table__body">
        <table>
            <thead>
            <tr>
                <th> Id </th>
                <th> Username </th>
                <th> E-mail </th>
                <th> Firstname </th>
                <th> Lastname </th>
                <th> Role </th>
                <th> Status </th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user: ${userList}">
                <td><span th:text="${user.userId}"></span></td>
                <td><span th:text="${user.username}"></span></td>
                <td><span th:text="${user.email}"></span></td>
                <td><span th:text="${user.firstname}"></span></td>
                <td><span th:text="${user.lastname}"></span></td>
                <td><span th:text="${user.role.getRoleName()}"></span></td>
                <td><p class="status active"  th:text="${user.status.getStatusName()}"></p></td>
            </tr>
            </tbody>
        </table>
    </section>
</main>
<script src="/script/search-table.js"></script>
</script>
</body>
</html>