<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Groups</title>
    <link href="/css/table.css" rel="stylesheet">
</head>
<body>
<main class="table">
    <section class="table-header">
        <h1>Groups</h1>
    </section>
    <section class="table-body">
        <table>
            <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Group name</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="group : ${groupList}">
                <td th:text="${group.getGroupId()}"></td>
                <td th:text="${group.getGroupName()}"></td>
            </tr>
            </tbody>
        </table>
    </section>
</main>
</body>
</html>
