<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Student Schedule</title>
    <link href="/css/student-schedule-styles.css" rel="stylesheet">
</head>

<body>
<main class="table" id="customers_table">
    <section class="table__header">
        <h1>Schedule</h1>
        <div class="filter-group">
            <select id="dayFilter">
                <option th:each="day : ${T(com.example.myschedule.entity.DayOfWeek).values()}"
                        th:value="${day}" th:text="${day.getDayOfWeekName()}" th:selected="${day.name() == 'MONDAY'}"></option>
            </select>
        </div>
    </section>
    <section class="table__body">
        <table>
            <thead>
            <tr>
                <th> Start time </th>
                <th> End time </th>
                <th> Course </th>
                <th> Teacher </th>
                <th> Classroom </th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="lesson: ${lessonList}" th:attr="data-day=${lesson.getDayOfWeek()}">
                <td><span th:text="${lesson.getStartTime().toString()}"></span></td>
                <td><span th:text="${lesson.getEndTime().toString()}"></span></td>
                <td><span th:text="${lesson.getCourseDTO().getCourseName()}"></span></td>
                <td><span th:text="${lesson.getCourseDTO().getTeacherDTO().getUsername()}"></span></td>
                <td><span th:text="${lesson.getClassroomDTO().getClassroomNumber()}"></span></td>
            </tr>
            </tbody>
        </table>
    </section>
</main>
<script src="/script/schedule-filter.js"></script>
</body>
</html>