<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Page</title>
    <link href="/css/student-home-page-styles.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <h1>Welcome to Student Page</h1>
    <p>Find your courses, schedules, and learning resources.</p>
    <div class="btn-container">
        <a href="/student/schedule" class="btn">Go to Dashboard</a>
    </div>
</div>
</body>
</html>
