<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Stuff Teachers Dashboard</title>
    <link href="/css/stuff-dashboard-styles.css" rel="stylesheet">
</head>
<body>
<div th:if="${successMessage}" role="alert" class="success-message">
    <p th:text="${successMessage}"></p>
</div>
<div th:if="${errorMessage}" role="alert" class="error-message">
    <p th:text="${errorMessage}"></p>
</div>
<nav class="navbar">
    <div class="logo">MySchedule</div>
    <ul class="nav-links" id="navLinks">
        <li><a href="/stuff/classrooms-dashboard">Classrooms</a></li>
        <li><a href="/stuff/groups-dashboard">Groups</a></li>
        <li><a href="/stuff/courses-dashboard">Courses</a></li>
        <li><a href="/stuff/lessons-dashboard">Lessons</a></li>
        <li><a href="/stuff/students-dashboard">Students</a></li>
        <li><a class="active" href="/stuff/teachers-dashboard">Teachers</a></li>
    </ul>
    <div class="hamburger" onclick="toggleMenu()">
        <span></span>
        <span></span>
        <span></span>
    </div>
</nav>
<main class="table" id="customers_table">
    <section class="table__header">
        <h1>Teachers</h1>
        <div class="input-group">
            <input type="search" placeholder="Search Data...">
            <img src="/img/search.png" alt="">
        </div>
    </section>
    <section class="table__body">
        <table>
            <thead>
            <tr>
                <th> Id </th>
                <th> Username </th>
                <th> E-mail </th>
                <th> Firstname </th>
                <th> Lastname </th>
                <th> Status </th>
                <th> Role </th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="teacher: ${teacherList}">
                <td><span th:text="${teacher.userId}"></span></td>
                <td><span th:text="${teacher.username}"></span></td>
                <td><span th:text="${teacher.email}"></span></td>
                <td><span th:text="${teacher.firstname}"></span></td>
                <td><span th:text="${teacher.lastname}"></span></td>
                <td><span th:text="${teacher.status.getStatusName()}"></span></td>
                <td><span th:text="${teacher.role.getRoleName()}"></span></td>
            </tr>
            </tbody>
        </table>
    </section>
</main>
<script src="/script/toggle-menu.js"></script>
<script src="/script/modals.js"></script>
<script src="/script/search-table.js"></script>
</body>
</html>