<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Stuff Students Dashboard</title>
    <link href="/css/stuff-dashboard-styles.css" rel="stylesheet">
</head>
<body>
<div th:if="${successMessage}" role="alert" class="success-message">
    <p th:text="${successMessage}"></p>
</div>
<div th:if="${errorMessage}" role="alert" class="error-message">
    <p th:text="${errorMessage}"></p>
</div>
<nav class="navbar">
    <div class="logo">Dashboard</div>
    <ul class="nav-links" id="navLinks">
        <li><a href="/stuff/classrooms-dashboard">Classrooms</a></li>
        <li><a href="/stuff/groups-dashboard">Groups</a></li>
        <li><a href="/stuff/courses-dashboard">Courses</a></li>
        <li><a href="/stuff/lessons-dashboard">Lessons</a></li>
        <li><a href="/stuff/teachers-dashboard">Teachers</a></li>
        <li><a href="/stuff/students-dashboard">Teachers</a></li>
    </ul>
    <div class="hamburger" onclick="toggleMenu()">
        <span></span>
        <span></span>
        <span></span>
    </div>
</nav>
<main class="table" id="customers_table">
    <section class="table__header">
        <h1>Students</h1>
        <div class="input-group">
            <input type="search" placeholder="Search Data...">
            <img src="/img/search.png" alt="">
        </div>
    </section>
    <section class="table__body">
        <table>
            <thead>
            <tr>
                <th> Id <span class="icon-arrow">&UpArrow;</span> </th>
                <th> Username <span class="icon-arrow">&UpArrow;</span> </th>
                <th> E-mail <span class="icon-arrow">&UpArrow;</span> </th>
                <th> Firstname <span class="icon-arrow">&UpArrow;</span> </th>
                <th> Lastname <span class="icon-arrow">&UpArrow;</span> </th>
                <th> Status <span class="icon-arrow">&UpArrow;</span> </th>
                <th> Role <span class="icon-arrow">&UpArrow;</span> </th>
                <th> Group <span class="icon-arrow">&UpArrow;</span> </th>
                <th> Actions </th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="student: ${studentList}">
                <td><span th:text="${student.userId}"></span></td>
                <td><span th:text="${student.username}"></span></td>
                <td><span th:text="${student.email}"></span></td>
                <td><span th:text="${student.firstname}"></span></td>
                <td><span th:text="${student.lastname}"></span></td>
                <td><span th:text="${student.status}"></span></td>
                <td><span th:text="${student.role}"></span></td>
                <td><span th:text="${student.groupDTO.groupName}"></span></td>
                <td>
                    <button class="btn-assign-group">Assign group</button>
                </td>
            </tr>
            </tbody>
        </table>
    </section>
</main>
<script src="/script/toggle-menu.js"></script>
<script src="/script/modals.js"></script>
<script src="/script/search-table.js"></script>
</body>
</html>