<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Stuff Groups Dashboard</title>
    <link href="/css/stuff-dashboard-styles.css" rel="stylesheet">
</head>
<body>
<div th:if="${successMessage}" role="alert" class="success-message">
    <p th:text="${successMessage}"></p>
</div>
<div th:if="${errorMessage}" role="alert" class="error-message">
    <p th:text="${errorMessage}"></p>
</div>
<nav class="navbar">
    <div class="logo">Dashboard</div>
    <ul class="nav-links" id="navLinks">
        <li><a href="/stuff/classrooms-dashboard">Classrooms</a></li>
        <li><a href="/stuff/groups-dashboard">Groups</a></li>
        <li><a href="/stuff/courses-dashboard">Courses</a></li>
        <li><a href="/stuff/lessons-dashboard">Lessons</a></li>
        <li><a href="/stuff/teachers-dashboard">Teachers</a></li>
        <li><a href="/stuff/students-dashboard">Teachers</a></li>
    </ul>
    <div class="hamburger" onclick="toggleMenu()">
        <span></span>
        <span></span>
        <span></span>
    </div>
</nav>
<main class="table" id="customers_table">
    <section class="table__header">
        <h1>Groups</h1>
        <div class="input-group">
            <input type="search" placeholder="Search Data...">
            <img src="/img/search.png" alt="">
        </div>
        <button class="btn-create" id="openModal">Create</button>
    </section>
    <section class="table__body">
        <table>
            <thead>
            <tr>
                <th> Id <span class="icon-arrow">&UpArrow;</span> </th>
                <th> Group <span class="icon-arrow">&UpArrow;</span> </th>
                <th> Actions </th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="group: ${groupList}">
                <td><span th:text="${group.groupId}"></span></td>
                <td><span th:text="${group.groupName}"></span></td>
                <td>
                    <button class="btn-update">Update</button>
                    <button class="btn-delete">Delete</button>
                </td>
            </tr>
            </tbody>
        </table>
    </section>
</main>

<div class="modal">
    <form  class="modal-content">
        <span class="close">&times;</span>
        <h2>Create Group</h2>

        <label>Group Name:</label>
        <input placeholder="Enter course name">

        <button class="submit-button">Create</button>
    </form>
</div>
<script src="/script/toggle-menu.js"></script>
<script src="/script/modals.js"></script>
<script src="/script/search-table.js"></script>
</body>
</html>