<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Stuff Lessons Dashboard</title>
    <link href="/css/stuff-dashboard-styles.css" rel="stylesheet">
</head>
<body>
<div th:if="${successMessage}" role="alert" class="success-message">
    <p th:text="${successMessage}"></p>
</div>
<div th:if="${errorMessage}" role="alert" class="error-message">
    <p th:text="${errorMessage}"></p>
</div>
<nav class="navbar">
    <div class="logo">MySchedule</div>
    <ul class="nav-links" id="navLinks">
        <li><a href="/stuff/classrooms-dashboard">Classrooms</a></li>
        <li><a href="/stuff/groups-dashboard">Groups</a></li>
        <li><a href="/stuff/courses-dashboard">Courses</a></li>
        <li><a href="/stuff/lessons-dashboard">Lessons</a></li>
        <li><a href="/stuff/students-dashboard">Students</a></li>
        <li><a href="/stuff/teachers-dashboard">Teachers</a></li>
        <li><a href="/logout">Logout</a></li>
    </ul>
    <div class="hamburger" onclick="toggleMenu()">
        <span></span>
        <span></span>
        <span></span>
    </div>
</nav>
<main class="table" id="customers_table">
    <section class="table__header">
        <h1>Lessons</h1>
        <div class="input-group">
            <input type="search" placeholder="Search Data...">
            <img src="/img/search.png" alt="">
        </div>
        <button onclick="openCreateModal('create-modal')" class="btn-create">Create</button>
    </section>
    <section class="table__body">
        <table>
            <thead>
            <tr>
                <th> Id </th>
                <th> Course </th>
                <th> Group </th>
                <th> Start Time </th>
                <th> End Time </th>
                <th> Day </th>
                <th> Teacher </th>
                <th> Classroom </th>
                <th> Actions </th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="lesson: ${lessonList}">
                <td><span th:text="${lesson.lessonId}"></span></td>
                <td><span th:text="${lesson.courseDTO.courseName}"></span></td>
                <td><span th:text="${lesson.groupDTO.groupName}"></span></td>
                <td><span th:text="${lesson.startTime}"></span></td>
                <td><span th:text="${lesson.endTime}"></span></td>
                <td><span th:text="${lesson.dayOfWeek.getDayOfWeekName()}"></span></td>
                <td><span th:text="${lesson.courseDTO.teacherDTO.username}"></span></td>
                <td><span th:text="${lesson.classroomDTO.classroomNumber}"></span></td>
                <td>
                    <button class="btn-update"
                            th:data-lesson-id="${lesson.lessonId}"
                            th:data-course-id="${lesson.courseDTO.courseId}"
                            th:data-group-id="${lesson.groupDTO.groupId}"
                            th:data-start-time="${lesson.startTime}"
                            th:data-end-time="${lesson.endTime}"
                            th:data-day="${lesson.dayOfWeek}"
                            th:data-classroom-id="${lesson.classroomDTO.classRoomId}"
                            onclick="openLessonUpdateModal(this)">Update</button>
                    <a class="btn-delete" role="button" th:href="@{'/stuff/lessons-dashboard/delete?lessonId=' + ${lesson.lessonId}}" >Delete</a>
                </td>
            </tr>
            </tbody>
        </table>
    </section>
</main>

<div id="update-modal" class="modal">
    <form th:action="@{/stuff/lessons-dashboard/update}" th:object="${lessonDTO}" method="post" class="modal-content">
        <span class="close" onclick="closeModal('update-modal')">&times;</span>
        <h2>Create Lesson</h2>

        <input type="hidden" id="updatedLessonId" name="lessonId">

        <label>Select Course:</label>
        <select id="updatedCourse" name="courseDTO" class="choicebox">
            <option value="" disabled selected>Select a course</option>
            <option th:each="course : ${courseList}" th:value="${course.courseId}" th:text="${course.courseName}"></option>
        </select>

        <label>Select Group:</label>
        <select id="updatedGroup" name="groupDTO" class="choicebox">
            <option value="" disabled selected>Select a group</option>
            <option th:each="group : ${groupList}" th:value="${group.groupId}" th:text="${group.groupName}"></option>
        </select>

        <label>Start Time:</label>
        <input id="updatedStartTime" type="time" th:field="*{startTime}" class="time-picker" />

        <label>End Time:</label>
        <input id="updatedEndTime" type="time" th:field="*{endTime}" class="time-picker" />

        <label>Select Day:</label>
        <select id="updatedDay" name="dayOfWeek" class="choicebox">
            <option value="" disabled selected>Select a day</option>
            <option th:each="day : ${T(com.example.myschedule.entity.DayOfWeek).values()}"
                    th:value="${day}" th:text="${day.getDayOfWeekName()}"></option>
        </select>

        <label>Select Classroom:</label>
        <select id="updatedClassroom" name="classroomDTO" class="choicebox">
            <option value="" disabled selected>Select a classroom</option>
            <option th:each="classroom : ${classroomList}" th:value="${classroom.classRoomId}" th:text="${classroom.classroomNumber}"></option>
        </select>
        <button class="submit-button">Create</button>
    </form>
</div>


<div id="create-modal" class="modal">
    <form th:action="@{/stuff/lessons-dashboard/create}" th:object="${lessonDTO}" method="post" class="modal-content">
        <span class="close" onclick="closeModal('create-modal')">&times;</span>
        <h2>Create Lesson</h2>

        <label>Select Course:</label>
        <select class="choicebox" th:field="*{courseDTO}">
            <option value="" disabled selected>Select a course</option>
            <option th:each="course : ${courseList}" th:value="${course.courseId}" th:text="${course.courseName}"></option>
        </select>

        <label>Select Group:</label>
        <select class="choicebox" th:field="*{groupDTO}">
            <option value="" disabled selected>Select a group</option>
            <option th:each="group : ${groupList}" th:value="${group.groupId}" th:text="${group.groupName}"></option>
        </select>

        <label>Start Time:</label>
        <input type="time" th:field="*{startTime}" class="time-picker" />

        <label>End Time:</label>
        <input type="time" th:field="*{endTime}" class="time-picker" />

        <label>Select Day:</label>
        <select class="choicebox" th:field="*{dayOfWeek}" >
            <option value="" disabled selected>Select a day</option>
            <option th:each="day : ${T(com.example.myschedule.entity.DayOfWeek).values()}"
                    th:value="${day}" th:text="${day.getDayOfWeekName()}"></option>
        </select>

        <label>Select Classroom:</label>
        <select class="choicebox" th:field="*{classroomDTO}">
            <option value="" disabled selected>Select a classroom</option>
            <option th:each="classroom : ${classroomList}" th:value="${classroom.classRoomId}" th:text="${classroom.classroomNumber}"></option>
        </select>
        <button class="submit-button">Create</button>
    </form>
</div>

<script src="/script/toggle-menu.js"></script>
<script src="/script/modals.js"></script>
<script src="/script/search-table.js"></script>
</body>
</html>