<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="/css/stuff-dashboard-styles.css" rel="stylesheet">
    <title>Stuff Classrooms Dashboard</title>
</head>
<body>
<div th:if="${successMessage}" role="alert" class="success-message">
    <p th:text="${successMessage}"></p>
</div>
<div th:if="${errorMessage}" role="alert" class="error-message">
    <p th:text="${errorMessage}"></p>
</div>
<nav class="navbar">
    <div class="logo">Dashboard</div>
    <ul class="nav-links" id="navLinks">
        <li><a href="/stuff/classrooms-dashboard">Classrooms</a></li>
        <li><a href="/stuff/groups-dashboard">Groups</a></li>
        <li><a href="/stuff/courses-dashboard">Courses</a></li>
        <li><a href="/stuff/lessons-dashboard">Lessons</a></li>
        <li><a href="/stuff/teachers-dashboard">Teachers</a></li>
        <li><a href="/stuff/students-dashboard">Teachers</a></li>
    </ul>
    <div class="hamburger" onclick="toggleMenu()">
        <span></span>
        <span></span>
        <span></span>
    </div>
</nav>
<main class="table" id="customers_table">
    <section class="table__header">
        <h1>Classrooms</h1>
        <div class="input-group">
            <input type="search" placeholder="Search Data...">
            <img src="/img/search.png" alt="">
        </div>
        <button onclick="openCreateModal('create-modal')" class="btn-create">Create</button>
    </section>
    <section class="table__body">
        <table>
            <thead>
            <tr>
                <th>Id</th>
                <th>Number</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="classroom: ${classroomList}">
                <td><span th:text="${classroom.getClassRoomId()}"></span></td>
                <td><span th:text="${classroom.getClassroomNumber()}"></span></td>
                <td><span th:text="${classroom.getClassroomDescription()}"></span></td>
                <td>
                    <button class="btn-update"
                            th:data-classroom-id="${classroom.getClassRoomId()}"
                            th:data-classroom-number="${classroom.getClassroomNumber()}"
                            th:data-classroom-description="${classroom.getClassroomDescription()}"
                            onclick="openUpdateModal(this)">Update</button>
                    <a class="btn-delete" role="button" th:href="@{'/stuff/classrooms-dashboard/delete?classroomId=' + ${classroom.getClassRoomId()}}" >Delete</a>
                </td>
            </tr>
            </tbody>
        </table>
    </section>
</main>

<div id="update-modal" class="modal">
    <form th:action="@{/stuff/classrooms-dashboard/update}" th:object="${classroomDTO}" method="post" class="modal-content">

        <span class="close" onclick="closeModal('update-modal')">&times;</span>
        <h2>Update Classroom</h2>

        <input type="hidden" id="updatedClassroomId" th:field="*{classRoomId}">

        <label>Classroom Number:</label>
        <input type="number" id="updatedClassroomNumber" placeholder="Enter classroom number" th:field="*{classroomNumber}">

        <label>Description:</label>
        <textarea id="updatedClassroomDescription" rows="4" placeholder="Enter description" th:field="*{classroomDescription}"></textarea>

        <button class="submit-button">Update</button>
    </form>
</div>

<div id="create-modal" class="modal">
    <form th:action="@{/stuff/classrooms-dashboard/create}" th:object="${classroomDTO}" method="post" class="modal-content">
        <span class="close" onclick="closeModal('create-modal')">&times;</span>
        <h2>Create Classroom</h2>

        <label>Classroom Number:</label>
        <input type="number" placeholder="Enter classroom number" th:field="*{classroomNumber}">

        <label>Description:</label>
        <textarea rows="4" placeholder="Enter description" th:field="*{classroomDescription}"></textarea>

        <button class="submit-button">Create</button>
    </form>
</div>

<script src="/script/classrooms-update-modal.js"></script>
<script src="/script/toggle-menu.js"></script>
<script src="/script/modals.js"></script>
<script src="/script/search-table.js"></script>
</body>
</html>