<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Stuff Students Dashboard</title>
    <link href="/css/stuff-dashboard-styles.css" rel="stylesheet">
</head>
<body>
<div th:if="${successMessage}" role="alert" class="success-message">
    <p th:text="${successMessage}"></p>
</div>
<div th:if="${errorMessage}" role="alert" class="error-message">
    <p th:text="${errorMessage}"></p>
</div>
<nav class="navbar">
    <div class="logo">MySchedule</div>
    <ul class="nav-links" id="navLinks">
        <li><a href="/stuff/classrooms-dashboard">Classrooms</a></li>
        <li><a href="/stuff/groups-dashboard">Groups</a></li>
        <li><a href="/stuff/courses-dashboard">Courses</a></li>
        <li><a href="/stuff/lessons-dashboard">Lessons</a></li>
        <li><a href="/stuff/students-dashboard">Students</a></li>
        <li><a href="/stuff/teachers-dashboard">Teachers</a></li>
        <li><a href="/logout">Logout</a></li>
    </ul>
    <div class="hamburger" onclick="toggleMenu()">
        <span></span>
        <span></span>
        <span></span>
    </div>
</nav>
<main class="table" id="customers_table">
    <section class="table__header">
        <h1>Students</h1>
        <div class="input-group">
            <input type="search" placeholder="Search Data...">
            <img src="/img/search.png" alt="">
        </div>
    </section>
    <section class="table__body">
        <table>
            <thead>
            <tr>
                <th> Id  </th>
                <th> Username </th>
                <th> E-mail </th>
                <th> Firstname </th>
                <th> Lastname </th>
                <th> Group </th>
                <th> Actions </th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="student: ${studentList}">
                <td><span th:text="${student.userId}"></span></td>
                <td><span th:text="${student.username}"></span></td>
                <td><span th:text="${student.email}"></span></td>
                <td><span th:text="${student.firstname}"></span></td>
                <td><span th:text="${student.lastname}"></span></td>
                <td><span th:text="${student.groupDTO.groupName}"></span></td>
                <td>
                    <button class="btn-update"
                            th:data-user-id="${student.getUserId()}"
                            th:data-group-id="${student.getGroupDTO().getGroupId()}"
                            onclick="openStudentUpdateModal(this)">Update</button>
                </td>
            </tr>
            </tbody>
        </table>
    </section>
</main>

<div id="update-modal" class="modal">
    <form th:action="@{/stuff/students-dashboard/update}" th:object="${studentDTO}" method="post" class="modal-content">
        <span class="close" onclick="closeModal('update-modal')">&times;</span>
        <h2>Update Student</h2>

        <input type="hidden" id="updatedUserId" name="userId">

        <label>Group</label>
        <select id="updatedGroup" name="groupDTO" class="choicebox">
            <option th:each="group : ${groupList}"
                    th:value="${group.groupId}"
                    th:text="${group.groupName}">
            </option>
        </select>

        <button class="submit-button">Update</button>
    </form>
</div>


<script src="/script/toggle-menu.js"></script>
<script src="/script/modals.js"></script>
<script src="/script/search-table.js"></script>
</body>
</html>