<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Stuff Lessons Dashboard</title>
    <link href="/css/stuff-dashboard-styles.css" rel="stylesheet">
</head>
<body>
<div th:if="${successMessage}" role="alert" class="success-message">
    <p th:text="${successMessage}"></p>
</div>
<div th:if="${errorMessage}" role="alert" class="error-message">
    <p th:text="${errorMessage}"></p>
</div>
<nav class="navbar">
    <div class="logo">Dashboard</div>
    <ul class="nav-links" id="navLinks">
        <li><a href="/stuff/classrooms-dashboard">Classrooms</a></li>
        <li><a href="/stuff/groups-dashboard">Groups</a></li>
        <li><a href="/stuff/courses-dashboard">Courses</a></li>
        <li><a href="/stuff/lessons-dashboard">Lessons</a></li>
        <li><a href="/stuff/teachers-dashboard">Teachers</a></li>
        <li><a href="/stuff/students-dashboard">Teachers</a></li>
    </ul>
    <div class="hamburger" onclick="toggleMenu()">
        <span></span>
        <span></span>
        <span></span>
    </div>
</nav>
<main class="table" id="customers_table">
    <section class="table__header">
        <h1>Lessons</h1>
        <div class="input-group">
            <input type="search" placeholder="Search Data...">
            <img src="/img/search.png" alt="">
        </div>
        <button class="btn-create" id="openModal">Create</button>
    </section>
    <section class="table__body">
        <table>
            <thead>
            <tr>
                <th> Id <span class="icon-arrow">&UpArrow;</span> </th>
                <th> Course <span class="icon-arrow">&UpArrow;</span> </th>
                <th> Group <span class="icon-arrow">&UpArrow;</span> </th>
                <th> Start Time <span class="icon-arrow">&UpArrow;</span> </th>
                <th> End Time <span class="icon-arrow">&UpArrow;</span> </th>
                <th> Day <span class="icon-arrow">&UpArrow;</span> </th>
                <th> Teacher <span class="icon-arrow">&UpArrow;</span> </th>
                <th> Classroom <span class="icon-arrow">&UpArrow;</span> </th>
                <th> Actions </th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="lesson: ${lessonList}">
                <td><span th:text="${lesson.lessonId}"></span></td>
                <td><span th:text="${lesson.courseDTO.courseName}"></span></td>
                <td><span th:text="${lesson.groupDTO.groupName}"></span></td>
                <td><span th:text="${lesson.startTime}"></span></td>
                <td><span th:text="${lesson.endTime}"></span></td>
                <td><span th:text="${lesson.dayOfWeek.getDayOfWeekName()}"></span></td>
                <td><span th:text="${lesson.courseDTO.teacherDTO.username}"></span></td>
                <td><span th:text="${lesson.classroomDTO.classroomNumber}"></span></td>
                <td>
                    <button class="btn-update">Update</button>
                    <button class="btn-delete">Delete</button>
                </td>
            </tr>
            </tbody>
        </table>
    </section>
</main>

<div class="modal">
    <form class="modal-content">
        <span class="close">&times;</span>
        <h2>Create Lesson</h2>

        <label for="teacher">Select Course:</label>
        <select id="teacher"  class="choicebox">
            <option value="" disabled selected>Select a course</option>
            <option th:each="course : ${courseList}" th:value="${course.courseId}" th:text="${course.courseName}"></option>
        </select>

        <label for="group">Select Group:</label>
        <select id="group" class="choicebox">
            <option value="" disabled selected>Select a group</option>
            <option th:each="group : ${groupList}" th:value="${group.groupId}" th:text="${group.groupName}"></option>
        </select>

        <label for="startTime">Start Time:</label>
        <input type="time" id="startTime" class="time-picker" />

        <label for="endTime">End Time:</label>
        <input type="time" id="endTime" class="time-picker" />

        <label for="day">Select Day:</label>
        <select id="day" class="choicebox">
            <option value="" disabled selected>Select a day</option>
            <option th:each="day : ${T(com.example.myschedule.entity.DayOfWeek).values()}"
                    th:value="${day}" th:text="${day.getDayOfWeekName()}"></option>
        </select>

        <label for="classRoom">Select Classroom:</label>
        <select id="classRoom" class="choicebox">
            <option value="" disabled selected>Select a classroom</option>
            <option th:each="classroom : ${classroomList}" th:value="${classroom.classRoomId}" th:text="${classroom.classroomNumber}"></option>
        </select>
        <button class="submit-button">Create</button>
    </form>
</div>
<script src="/script/toggle-menu.js"></script>
<script src="/script/modals.js"></script>
<script src="/script/search-table.js"></script>
</body>
</html>