<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teacher Page</title>
    <link href="/css/teacher-home-page-styles.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <h1>Welcome to Teacher Page</h1>
    <p>Access your teaching tools, schedules, and resources.</p>
    <div class="btn-container">
        <a href="/teacher/schedule" class="btn">Go to Dashboard</a>
    </div>
</div>
</body>
</html>