<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Teachers</title>
    <link href="/css/table.css" rel="stylesheet">
</head>
<body>
<main class="table">
    <section class="table-header">
        <h1>Teachers</h1>
    </section>
    <section class="table-body">
        <table>
            <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Login</th>
                <th scope="col">Password</th>
                <th scope="col">E-mail</th>
                <th scope="col">Phone number</th>
                <th scope="col">First name</th>
                <th scope="col">Last name</th>
                <th scope="col">Group</th>
                <th scope="col">Faculty</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="teacher : ${teacherList}">
                <td th:text="${teacher.getTeacherId()}"></td>
                <td th:text="${teacher.getLogin()}"></td>
                <td th:text="${teacher.getPassword()}"></td>
                <td th:text="${teacher.getEmail()}"></td>
                <td th:text="${teacher.getPhoneNumber()}"></td>
                <td th:text="${teacher.getFirstName()}"></td>
                <td th:text="${teacher.getLastName()}"></td>
                <td th:text="${teacher.getGroup().getGroupName()}"></td>
                <td th:text="${teacher.getFaculty().getFacultyName()}"></td>
            </tr>
            </tbody>
        </table>
    </section>
</main>
</body>
</html>
